<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definición de Beans -->
    <!-- 1. Bean del Repositorio -->
    <bean id="estudianteRepositoryBean"
        class="com.example.repository.EstudianteRepositoryInMemory"
        init-method="iniciarRepositorio"
        destroy-method="limpiarRecursos"
    />

    <!-- 2.1 Bean del Servicio usando Inyección por Constructor -->
    <bean id="estudianteServiceBean"
        class="com.example.service.EstudianteServiceImpl"
        scope="singleton">
        <constructor-arg ref="estudianteRepositoryBean" />
    </bean>

    <!-- 2.2 Inyección por Setter usando la propiedad 'estudianteRepository' -->
    <bean id="estudianteServiceSetterBean"
        class="com.example.service.EstudianteServiceSetterImpl">
        <property name="estudianteRepository" ref="estudianteRepositoryBean" />
    </bean>

    <!-- 3. Definición de bean CarritoMatriculo con scope prototype -->
    <bean id="carritoMatriculoBean" class="com.example.model.CarritoMatricula" scope="singleton" />

</beans>